@charset "utf-8";

* {box-sizing: border-box; -ms-box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;} 
*{-webkit-text-size-adjust:none}
html, body{width: 100%;height: 100%;}
body{/*min-width: 1300px;*/
 margin:0;
padding:0;	
line-height: 1.4;
color:inherit;
font-style: inherit;
font-size:16px;
font-weight:300;
font-family: 'Noto Sans KR', sans-serif;
letter-spacing: -1px;
 }
body, div, 
dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, 
pre, code, form, fieldset, legend, textarea, p, blockquote,
th, td, input, select, textarea, button,
header, nav, menu, section, article {margin:0;padding:0}
dl, ul, ol, menu, li {list-style:none; vertical-align: middle}
em {font-style:inherit;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
button {border:0 none;background-color:transparent;cursor:pointer;outline:none}
button:focus {}
a, a:link, a:visited, a:hover, a:active {color:inherit;text-decoration: none;}

/* ==================================================
	반응형 PC/모바일
================================================== */
.pcBlock{display:block;}
.moBlock{display:none !important;}
/**/
@media screen and (max-width:768px){
	.pcBlock{display:none;}
	.moBlock{display:block !important;}
}

/* ==================================================
	공통레이아웃
================================================== */
section > article {position: relative;width: 100%;margin-bottom:5% !important;}
div{-ms-user-select: none; -moz-user-select: -moz-none;-khtml-user-select: none;-webkit-user-select: none;user-select: none;}
/*::selection {background: #191919;color: #fff;}*/
.title {margin-bottom:4%;text-align: center;}
.title h2 {font-size: 40px;font-weight: bold;}
.title p {font-size: 20px;font-weight: 500;color: #464646;}
.row:after, .row > li:after {content:'';display: table;clear: both;}
.row > li {float: left;padding:50px 0;}

.row > li.col_3 {width: 31%;margin-right: 3.5%;}
.row > li.col_3:nth-child(3n) {margin-right: 0;}
.row > li.col_4 {width: 48%;margin-right: 4%;}
.row > li.col_4:nth-child(2n) {margin-right: 0;}
.row > li.col_4:nth-child(n+3) {margin-top:2.5em;}
.jone.scroll .row > li.col_3 {height: 650px;}
.row_img {position: relative;}
.row_img .badge {position: absolute;top: 0;left: 30px;}
.row_txt {/*height: 130px;max-height:130px;*/margin-top: 2em;text-align: left;padding-left: 25px;}
.row_txt h3 {font-size: 26px;font-weight: 500;color: #191919;}
.row_txt h3 span {font-size: 18px;}
.row_txt p {font-size: 13px;color: #191919;}
.row_txt p.en {margin-bottom: 1em;font-weight:500;}
.row_txt p + p {font-size: 15px;color: #6d6d6d;}
.row .view {position: absolute;background-color: rgba(0,0,0,0.5);top: 0;left: 0;width: 100%;height: 100%;transition:0.5s;color: #fff;opacity:0;}
.row .view a {width: 195px;height: 52px;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;text-align: center;}
.row > li:hover .view {opacity:1;}
/* 이미지 애니메이션 */
.row > .ani .row_img {position: relative;overflow: hidden;}
.row > .ani .row_img img {width: 379px;height: 379px;max-width:379px;max-height:379px; -webkit-transform-origin: top right;transform-origin: top right;-webkit-transform: scale(1.2);transform: scale(1.2);transition: transform 4s cubic-bezier(0, 0.94, 0.13, 1.01), -webkit-transform 4s cubic-bezier(0, 0.94, 0.13, 1.01);}
.row > .ani .row_img::after {position: absolute;top: 0;left: 0;right: 0;bottom: 0;content: '';background: #f1f1f1;-webkit-transform: translateX(60%);transform: translateX(60%);transition: transform 2.5s cubic-bezier(0, 0.94, 0.13, 1.01), -webkit-transform 2.5s cubic-bezier(0, 0.94, 0.13, 1.01);}
.row > .ani .row_img.scale img {transform:scale(1);transition-delay:0s;}
.row > .ani .row_img.scale::after {-webkit-transform: translateX(100%);transform: translateX(100%); }
.row > .ani .row_img.scale {width: 379px;/*height: 379px !important;*/overflow: hidden;display: block;transform: scale(1);-webkit-transform: scale(1);-moz-transform: scale(1);-o-transform: scale(1);transition: transform 0.5s ease;}
.row.ani .row_img {position: relative;overflow: hidden;}
.row.ani .row_img img {width: 379px;height: 379px !important;max-width:379px;max-height:379px; -webkit-transform-origin: top right;transform-origin: top right;-webkit-transform: scale(1.2);transform: scale(1.2);transition: transform 4s cubic-bezier(0, 0.94, 0.13, 1.01), -webkit-transform 4s cubic-bezier(0, 0.94, 0.13, 1.01);}
.row.ani .row_img::after {position: absolute;top: 0;left: 0;right: 0;bottom: 0;content: '';background: #f1f1f1;-webkit-transform: translateX(60%);transform: translateX(60%);transition: transform 2.5s cubic-bezier(0, 0.94, 0.13, 1.01), -webkit-transform 2.5s cubic-bezier(0, 0.94, 0.13, 1.01);}
.row.ani .row_img.scale img {transform:scale(1);transition-delay:0s;}
.row.ani .row_img.scale::after {-webkit-transform: translateX(100%);transform: translateX(100%); }
.row.ani .row_img.scale {width: 379px;height: 379px !important;overflow: hidden;display: block;transform: scale(1);-webkit-transform: scale(1);-moz-transform: scale(1);-o-transform: scale(1);transition: transform 0.5s ease;}

/* ==================================================
	header
================================================== */
.headerFixed{position:fixed;z-index:999;top:0;width:100%;}
.headerFixed #header{display:block;}
#header{width:100%; position:fixed;top: 0;z-index:99;min-width:320px;margin:0;padding:0;height:140px;background:transparent;}
#header:hover, #header.on {background-color: #191919;}
#header .header_con {position:relative;min-width:1300px;max-width:1300px;margin: auto;}
#header h1{position: relative;width: 170px;height: 72px;padding-top: 10px;margin: auto;}
#header h1 a img {margin: auto;}
#header h1 span {display: none;}
#header .nav{position:relative;max-width:900px;margin:0 auto;z-index:80;}
#header .nav > ul {margin-top: 10px;min-width:900px;}
#header .nav > ul > li {width:14%;height:60px;float:left;}
#header .nav > ul > li a:hover{color:#c00}
#header .nav > ul > li a{color:#fff;display:block;font-size:16.5px;line-height:60px;text-align:center;font-weight:400;letter-spacing: 0;}
#header.scroll .nav {margin-left: 200px;}
#header.on .nav > ul > li a {color: #fff;}
#header .nav > ul > li > .sm {padding:10px 0;height:150px;display:none;}
#header .nav > ul > li > .sm > ul {margin-top: 0;}
#header .nav > ul > li > .sm > ul > li a {line-height:30px;font-size:15px;font-weight:400;color:#424242;letter-spacing: -1px;}
#header .nav > ul > li.es > .sm > ul > li a {color:#d22425;}
#header .nav > ul > li > .sm > ul > li a:hover {color:#a20000;}
#header .smBg {position:absolute;left:0;top:140px;background:rgba(255,255,255,0.95);border-bottom: 1px solid #191919;width:100%;height:150px;z-index:70;display:none;}

#header.scroll {height: 80px;}
#header.scroll h1 {position: absolute;top: 10px;width: 170px;height: 45px;padding: 0;}
#header.scroll h1 a {width: 45px;}
#header.scroll h1 a img {width: 45px;margin: 0;}
#header.scroll h1 span {display: block;position: absolute;height: 27px;left: 60px;top: 0;bottom: 0;margin: auto;color: #fff;font-size: 17px;font-weight: 300;}
#header.scroll .nav > ul > li > .sm > ul {margin-top: 10px;}
#header.scroll .nav > ul > li > .sm > ul > li {padding-bottom: 5px;}
#header.scroll .smBg {top: 80px;height: 160px;}
.scroll #header.scroll {height: 80px;background-color: #191919;}


/* =========================================footer========================================== */
.sub .footer{position:relative; width:100%; clear:both; background:#f5f5f5; padding:40px 0; margin-top:80px;}
.footer{position:relative; width:100%; clear:both;}
.footer ul{width:308px; margin:20px auto 10px; overflow:hidden;}
.footer ul li{width:150px; margin:0 2px; float:left;}
.footer ul li a{display:block; border:1px solid #bdbfc1; text-align:center; padding:5px 0;}
.footer p{text-align:center; color:#171b28; font-size:16px;}
.footer p .copy{display:block; color:#afafb0; font-size:13px; padding:5px 0 20px;}
.footer p br{display:none;}

@media screen and (max-width:1280px){
#header .header_con {min-width:auto;max-width:auto;}
#header .nav > ul {min-width:auto;}
#header .nav > ul > li a {font-size: 16px;}
#header.scroll h1 a {width: 35px;}
#header.scroll h1 a img {width: 35px;position: absolute;top: 0;bottom: 0;left: 5px;margin: auto;}
#header.scroll h1 span {left: 45px;height:35px;line-height: 35px;font-size: 15px;}
#header.scroll .nav {margin-left: 120px;}
#header.scroll .nav > ul > li a {font-size: 14px;}
#header .nav > ul > li > .sm > ul > li a {font-size: 14px;}
}


/* =========================================공통 클래스========================================== */
img{height: auto;vertical-align:top;border:none;display: block;}
iframe {border: none;}
.en {font-family: 'Lato', sans-serif !important;}
.f_l{float:left}
.f_r{float:right}
.f_l:after, .f_r:after {content:'';display: block;clear: both;}
.p_r{position:relative}
.p_a{position:absolute}
.clear:after{display:block;content:"";clear:both}
.m_a {margin: auto;text-align: center;}
.area{overflow: hidden;/*width:1480px;max-width:1480px;padding: 0 130px;*/margin: auto;}
.menu_cnt .tit p, #gnb > ul > li > a{}
.ir{position: absolute;display:block;overflow:hidden;text-indent:-9999px}
.outer {display: table; width: 100%; height: 100%;padding-top: 70px;}
.inner {display: table-cell;vertical-align: middle;padding-top:40px;}
.pc_br {display: block;}
.mb_br {display:none;}
.main_txt {position: relative;display:block;max-width:1400px;min-width:320px;margin:0 auto}
.transition {
			-moz-transition: all 0.5s;
			-o-transition: all 0.5s;
			-webkit-transition: all 0.5s;
			transition: all 0.5s;
			-moz-transition-delay: 0s;
			-o-transition-delay: 0s;
			-webkit-transition-delay: 0s;
			transition-delay: 0s;
}
.btn {display: inline-block;padding: 14px 38px;transition:0.3s;font-size: 16px;font-weight: 300;}
.btn_style1 {border: 1px solid rgba(255,255,255,0.5);color: #fff;}
.btn_style1:hover {background-color: #000;border: 1px solid #000;}
.btn_style2 {border: 1px solid #b6b6b6;color: #6b6b6b;}
.btn_style2:hover {background-color: #000;border: 1px solid #000;color: #fff;}
.btn_style3 {padding: 16px 75px;border: 1px solid #000;color: #000;font-size: 20px;}
.btn_style3:hover {border: 1px solid #000;color: #fff;background-color: #000;}
.banner {width: 100%;height: 519px;text-align: center;}
.scroll_ie .btn_style2 {width: 174px;margin-top: 1em;}

/* =========================================skip========================================== */
#skip a{display:block;position:absolute;top:-99999px;left:0;width:100%;height:30px;line-height:15px;padding:7px 0;color: #222222;overflow:hidden;z-index: 999;}
#skip a:focus, #skip a:hover, #skip a:active{top:0;color:#ffffff;text-align:center;background-color:#1d60a7;}

/* =========================================footer========================================== */
footer{position:relative;width:100%;border-top: 1px solid #dcdcdc;background-color: #f0f0f0;padding:45px 2%;font-size:13px}
footer * {font-size: 13px;font-style: inherit;}
footer .area {text-align: center;}
footer .btn_stl1{position:inherit;width:103px;height:32px;line-height:32px;margin-top:0px;}
footer .page {margin-bottom: 20px;}
footer .page li {position: relative;display: inline-block;padding-right: 20px;color: #797979;}
footer .page li:after {content:"l";position:absolute;right:7px;top:0;}
footer .page li:last-child:after {content:'';}
footer .page li a {color: #797979;}
footer .info li {position:relative;display: inline-block;padding-right:20px;color: #959595;}
footer .info li:nth-child(5) {float:none;clear:both;}
footer .info li:nth-child(5):after,
footer .info li:nth-child(4):after {content:"";}
footer .sns {margin: 30px 0 35px;}
footer .sns li {display: inline-block;padding: 0 5px;}
button[type=button].go_top{position:absolute;top:-20px;left:50%;bottom:18.5px;margin-left:-18.5px;width:37px;height:37px;background:url("../images/go_top.png") no-repeat 0 0;z-index: 99;text-indent:-99999px;}
button[type=button].go_top.on{position:relative;bottom:182px;}

@media screen and (max-width: 841px){
header .gnb .gnb_list > li {padding: 0 15px;}
#header.scroll .nav > ul > li a {font-size: 13px;}
	}

@media screen and (max-width: 1400px){
.btn {display: inline-block;padding: 12px 34px;transition:0.3s;font-size: 16px;font-weight: 300;}
.btn_style3 {padding: 12px 65px;font-size: 16px;}
}

@media screen and (max-width: 768px){
section > article {margin-bottom:7% !important;}
.outer {padding: 70px 20px 0;}
.pc_br {display: none;}
.mb_br {display:block;}
.row > .ani .row_img.scale {height: auto !important}
.row.ani .row_img img {height: auto !important;}
.row.ani .row_img.scale {height: auto !important;}
.row_txt p.en {margin-bottom: 0.6em;}
.jone .row > li.col_3 {height: auto;}
.scroll_ie .outer {padding: 70px 20px;}
header .gnb .gnb_list > li {padding: 0 12px;}
#header.transition {-moz-transition: all 0.4s;-o-transition: all 0.4s;-webkit-transition: all 0.4s;transition: all 0.4s;}

#header {height: 60px;background-color: #191919;}
#header.scroll, .scroll #header.scroll {height: 60px;}
#header.scroll_up {top: -60px;}
#header.scroll_down {top: 0;}
#mb_menu.active {position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.6);}
#header.scroll_up #mb_menu.active h1 {display: none;}
#mb_menu .com_name{position:fixed;top:0;right: -80%;width: 80%;height: 60px;z-index:60;background-color: #ebebeb;}
#mb_menu.active .com_name {right: 0;}
#mb_menu .com_name a {position: absolute;top: 0;bottom: 0;left: 20px;width: 160px;height: 36px;margin: auto;}
#mb_menu .com_name a img {width: 100%;}
#mb_menu #accordeon {z-index:50;position:fixed;top:0;right:-80%;bottom:0;width:80%;padding: 100px 20px 0px 30px;background-color:#ffffff;}
#mb_menu.active #accordeon{right:0;}
#mb_menu #accordeon a {position:relative;display:block;width:100%;color:#000000;}
#mb_menu > ul > li {background-color:#ffffff;border-bottom:1px solid #d8d8d8;}
#mb_menu > ul > li > a {padding:13px 13px 13px 10px;font-size:16px;font-weight: 500;text-decoration:none;}
#mb_menu > ul > li > a {background: url(../images/menu_arw.png) 100% 50% no-repeat;-webkit-background-size: 10px;background-size: 10px}
#mb_menu > ul > li:last-child > a {color:#ed1c24;}
#mb_menu > ul > li.active {color:#ed1c24;}
#mb_menu > ul > li.active > a {color:#ed1c24;}
#mb_menu > ul > li > .depth2 {width:100%;display: none;padding:0;}
#mb_menu .depth2 li {/*background-color:#efefef;*/height:auto;border-top:1px solid #d8d8d8;}
#mb_menu .depth2 li:hover,#mb_menu .depth2 li:focus {background-color:#bebebe;}
#mb_menu .depth2 li a {color:#333;padding:15px 15px 15px 30px;font-size:14px;text-decoration:none;}
#mb_menu .depth2 li.active a,#mb_menu .depth2 li a:hover {color:#000;}
#mb_menu > ul > li > a.none {background:none !important;}
#mb_menu #accordeon .btn_wrap {margin-top: 3em;}
#mb_menu #accordeon .btn_wrap a {border: 1px solid #080808;text-align: center;font-weight: 400;}

#header h1 {height: 60px;left: 5%;margin: 0;}
#header h1 a {position: absolute;height: 37px;top: 0;bottom: 0;margin: auto;}
#header h1 img {width: 100%;}
#header.scroll h1 a {width: 100%;}
#header.scroll h1 a img {width: 100%;}

#header .btn-all-menu{z-index:70;height:22px;position:fixed;right:5%;top:20px;width:25px;cursor:pointer;}
#header.scroll_up .btn-all-menu {top: -80px;}
#header .btn-all-menu span{background:#fff;display:block;height:4px;transition:all 0.3s;width:100%}
#header .btn-all-menu .b1{margin-bottom:5px}
#header .btn-all-menu .b2{margin-bottom:5px}
#header .btn-all-menu.active span{background:#333}
#header .btn-all-menu.active .b1{transform:rotate(45deg) translate(6px,6px)}
#header .btn-all-menu.active .b3{transform:rotate(-45deg) translate(7px,-7px)}
#header .btn-all-menu.active .b2{opacity:0;}
#header .btn-all-menu a,
#header .btn-all-menu.active a,
#header .btn-shop a{display:block;text-indent:-9999%}
#header .btn-all-menu.active a{background:url("images/ico_menu.png") 0 0 no-repeat;background-size:18px}
#header .btn-all-menu a{background:url("/images/ico_close.png") 0 0 no-repeat;background-color:inherit !important;background-size:18px}
#header .btn-shop{height:19px;position:absolute;right:15px;top:13px;width:23px}
#header .btn-shop a{background:url("/images/ico_shop.png") 0 0 no-repeat;background-size:23px}
footer {padding: 30px 2%;}
.area{padding: 5%}
.title h2 {font-size: 32px;}

section#main .row > li.col_3 {width: 100%;margin-right: 0;padding: 20px 0;}
section#main .row > li.col_3:nth-child(3n) {margin-right: 0;}
section#main .row > li.col_3 .row_img > img {width: 100%;height: 100%;}
section#main .row > li.col_4 {width: 100%;margin-right: 0;}
section#main .row > li.col_4:nth-child(2), section#main .row > li.col_4:nth-child(4) {margin-top: 1em;}
section#main .row_img .badge {left: 10px;}
section#main .row_txt {margin-top: 1em;padding-left: 0;}
section#main .row_txt h3 {font-size: 20px;font-weight: 500;color: #191919;}
section#main .row_txt h3 span {font-size: 16px;}
section#main .row_txt p {font-size: 16px;}
}