/* default css */
* {box-sizing: border-box;}
a {color:inherit;text-decoration:none;cursor:pointer;}
button {cursor:pointer;}
b, strong {font-weight:bold;}
i {display:inline-block;}
ul, li {list-style-type:none;padding:0;margin:0;}
iframe {width:100%;border:0;}
.legacy-browser {
  position: relative;
  padding:10px;
  margin:0 auto;
  max-width: 1220px;
  font-size:12px;
  text-align:center;
  background-color:#f5d562;
  z-index:2000;
}
.legacy-browser a{text-decoration:underline;}

.centerDiv {display:table;position:relative;width: 100%;height: 100%;z-index:200;overflow: hidden;}
.centerDiv > div, .centerDiv > p {display:table-cell;vertical-align:middle;text-align:center;color: #000;}
.centerDiv > p img {margin: auto;}
.divAni {position:relative;overflow:hidden;}
.ci img {margin: auto;}
#wrap {position:relative;display: block;width: 100%;height: 100%;min-width: 1280px;}

.section {display: block;position: relative;}
.section > .bg {display: block;position: absolute;top: 0;left: 0;right: 0;bottom: 0;
				-webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;-o-transition: transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s;
}
.section0 .bg {overflow:hidden;background-color:#000;}
.section0 .centerDiv > p {color: #fff;}
.section0 .bg iframe {position: absolute;top: 50%;left: 50%;width: 100%;height: 100%;min-width: 2044px;min-height: 1150px;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.section0 .bg:after {content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;background-color: rgba(0,0,0,0.4);}

.hira .section1 .bg, .hongshot .section1 .bg, .haart .section1 .bg {background-color: rgba(245, 242, 237, 0.9);}

.section2 .bg, .section3 .bg {display: flex;width: 100%;height: 100%;min-width: 1280px;}
.section2 .bg div,.section3 .bg div {position: relative;
				-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;
    -o-transition: transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s;
}
.section2 .bg .bg01 {height: 100%;background-image: url("../images/sub/hira/step2_01_bg.jpg");background-position: 100% 0;background-repeat: no-repeat;background-size: cover;}
.section2 .bg .bg02 .bg02-1 {height: 100%;background-color:#fff;}
.section2 .bg .bg02 .bg02-2 {height: 100%;background-image: url("../images/sub/hira/step2_02_bg.jpg");background-position: 0 0;background-repeat: no-repeat;background-size: cover;}
.section3 .bg .bg01{height: 100%;background-image: url("../images/sub/hira/step3_bg.jpg");background-position: 100% 0;background-repeat: no-repeat;background-size: cover;}
.section3 .bg .bg02 {height: 100%;z-index: 11;}

.hira .section4, .jone .section3 {position:relative;z-index: 20;background-color: #fff;}
.row {margin:0 auto 150px auto;max-width: 1220px;}
.hira .section4 h2, .jone .section3 h2, .hongshot .section4 h2, .haart .section4 h2 {margin:120px auto 0 auto;}
.row > li .img {display:block;position:relative;overflow:hidden;width:95%;margin:0 auto;}
.row > li .text {padding:0;margin:0;font-size:30px;}

/* hira - CSS를 이용한 애니메이션 */
.hira .sec-0 .section2 .bg, .hongshot .sec-0 .section2 .bg, .haart .sec-0 .section2 .bg {z-index: -1;transform: translateY(0%);}
.hira .sec-1 .section0 .bg, .hira .sec-2 .section0 .bg, .hongshot .sec-1 .section0 .bg, .hongshot .sec-2 .section0 .bg, .haart .sec-1 .section0 .bg {transform: translateY(100%);}
.hira .sec-1 .section2 .bg {z-index: -1;transform: translateY(-100%);}
.hira .sec-2 .section2 .bg {z-index: -1;transform: translateY(0%);}
.hira .section2 .bg .bg02 {z-index: -1;transform: translateY(-100%);}
.hira .sec-3 .section2 .bg .bg02 {z-index: 10;transform: translateY(100%);}

.section2 .bg02-1 .divAni.text01 {padding: 0 7em;}
.section2 .bg02-1 .divAni.text01 .info {text-align: left;position:relative;right:-200px;opacity:0;}
.section2 .bg02-1 .divAni.text01 .info h3 {	margin-bottom: 1.5em;color: #191919;font-weight: 600;font-size: 30px;}
.section2 .bg02-1 .divAni.text01 .info p {color: #424242;font-size: 22px;margin-bottom:0.5em;}
.section2 .bg02-1 .divAni.text01 .info p + p {	font-size: 17px;	margin-bottom: 4em;	}
.section2 .bg02-1 .divAni.text01 .info .img {margin-left: 40%;}
.section2 .bg div

.section2 .bg02-1 .divAni.text01 .info {}
.sec-3 .section2 .bg02-1 .divAni.text01 .info {
    animation-name: ani_txt;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    animation-delay: 0.7s;
}
@-moz-keyframes ani_txt {
    0% {opacity: 0;right: -100px;}
    100% {opacity: 1;right: 0;}
}
@-webkit-keyframes ani_txt {
    0% {opacity: 0;right: -100px;}
    100% {opacity: 1;right: 0;}
}
@keyframes ani_txt {
    0% {opacity: 0;right: -100px;}
    100% {opacity: 1;right: 0;}
}

.section .title {color: #fff;}
.section .title h2 {position: relative;max-width: 800px;margin: auto;padding-top: 0;padding-bottom: 0;font-weight: bold;font-size: 35px;}
.section .title h2.en {font-size: 76px;}
.section .title h2 > em {margin-left: 3%;font-size: 60px;font-weight: 200;}
.jone .section0 .title h2.en {font-size: 60px;}
.haart .section0 .title h2 {font-size: 63px;font-weight: 500;}
.haart .section0 .title h2 strong {font-weight: 500;}
.haart .section0 .title h2 span {vertical-align: top;margin: 0 25px;}
.section .title h3 {font-size: 35px;}
.section .title p {font-size:1em;font-weight: 200;color: #fff;}
.section .title p:before {content: '';display: block;width: 40px;height: 1px;margin: 1em auto 2em auto;background-color: #fff; }

.section .bg .centerDiv .title {position:relative;bottom:-100px;opacity:0;}
.sec-0 .section0 .bg .centerDiv .title, .hira .section0 .bg .centerDiv .title, .jone .section0 .bg .centerDiv .title, .jone .sec-1 .bg .centerDiv .title, .hongshot .section0 .bg .centerDiv .title, .haart .section0 .bg .centerDiv .title, .haart .sec-2 .bg .centerDiv .title {
    animation-name: ani_txt_top;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    animation-delay: 0.7s;
}
@-moz-keyframes ani_txt_top {
    0% {opacity: 0;bottom: -100px;}
    100% {opacity: 1;bottom: 0;}
}
@-webkit-keyframes ani_txt_top {
    0% {opacity: 0;bottom: -100px;}
    100% {opacity: 1;bottom: 0;}
}
@keyframes ani_txt_top {
    0% {opacity: 0;bottom: -100px;}
    100% {opacity: 1;bottom: 0;}
}
.sec-1 .section0 .bg .centerDiv .title {position:relative;bottom:-100px;opacity:0;}

.jone .sec-0 .section2 .bg {z-index: -1;transform: translateY(0%);}
.jone .sec-1 .section0 .bg, .jone .sec-2 .section0 .bg {transform: translateY(100%);}
.jone .sec-1 .section2 .bg {z-index: -1;transform: translateY(0%);}
.jone .sec-2 .section2 .bg {z-index: -1;transform: translateY(0%);}
.jone .section2 .ci {margin-top: 20px;}
.jone .section2 .title h2 {font-weight: 500;}

.jone .section2 .centerDiv > div {display:block;}
.jone .section2 .bg .centerDiv .ci {position:relative;bottom:-200px;opacity:0;}
.jone .sec-2 .section2 .bg .centerDiv .ci {
    animation-name: ani_ci_top2;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    animation-delay: 0.7s;
}
@-moz-keyframes ani_ci_top2 {
    0% {opacity: 0;bottom: -200px;}
    100% {opacity: 1;bottom: 0;}
}
@-webkit-keyframes ani_ci_top2 {
    0% {opacity: 0;bottom: -200px;}
    100% {opacity: 1;bottom: 0;}
}
@keyframes ani_ci_top2 {
    0% {opacity: 0;bottom: -200px;}
    100% {opacity: 1;bottom: 0;}
}
.jone .section2 .bg .centerDiv .title {position:relative;bottom:-200px;opacity:0;}
.jone .sec-2 .section2 .bg .centerDiv .title {
    animation-name: ani_txt_top2;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    animation-delay: 1s;
}
@-moz-keyframes ani_txt_top2 {
    0% {opacity: 0;bottom: -200px;}
    100% {opacity: 1;bottom: 50px;}
}
@-webkit-keyframes ani_txt_top2 {
    0% {opacity: 0;bottom: -200px;}
    100% {opacity: 1;bottom: 50px;}
}
@keyframes ani_txt_top2 {
    0% {opacity: 0;bottom: -200px;}
    100% {opacity: 1;bottom: 50px;}
}


.jone .section1 .bg {background: url('../images/sub/jone/step2_bg.jpg') 0 0 no-repeat;-webkit-background-size: cover;background-size: cover;}
.jone .section2 .bg {background: url('../images/sub/jone/step3_bg.jpg') 0 0 no-repeat;-webkit-background-size: cover;background-size: cover;}

.jone .centerDiv > p {display: block;}

.hongshot .section3 {position:relative;z-index: 20;height:100%;background-color: #000;}
.hongshot .section3 h2{margin:120px auto 0 auto;}
.hongshot .section3 div {color:#fff;}
.hongshot .section3 .counter-value {display:inline-block;font-size: 60px;padding:0 100px;}
.hongshot .section3 .counter-value:after {content: attr(data-desc);display:block;text-transform:uppercase;font-size: 25px;font-weight: 500;}
.hongshot .section2 .bg {background: url('../images/sub/hongshot/section2_bg.jpg') 0 0 no-repeat;-webkit-background-size: cover;background-size: cover;}

.hongshot .cntImg {position: relative;max-width:1380px;margin: auto;}
.hongshot .cntImg ul {overflow: hidden;margin: 70px auto;}
.hongshot .cntImg ul li {float: left;width: 32.3333%;margin-right: 1.5%;overflow: hidden;}
.hongshot .cntImg ul li:last-child {margin-right: 0;}
/*.hongshot .cntImg:after, .hongshot .cntImg li:after {content:'';display: block;clear: both;}*/
.hongshot .cntImg p {font-size: 20px;}


.hongshot .section2 .centerDiv > div {display:block;}
.hongshot .section2 .bg .centerDiv .info h3 {font-size: 46px;}
.hongshot .section2 .bg .centerDiv .info p {font-size: 30px;font-weight: 500;}
.hongshot .section2 .bg .centerDiv .info p + p {font-size: 20px;font-weight: 300;}
.hongshot .section2 .bg .centerDiv .info {position:absolute;right:230px;opacity:0;top:225px;text-align: left;color: #fff;}
.hongshot .sec-2 .section2 .bg .centerDiv .info {
    animation-name: ani_info_top;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    animation-delay: 0.7s;
}
@-moz-keyframes ani_info_top {
    0% {opacity: 0;right: 230px;}
    100% {opacity: 1;right: 330px;}
}
@-webkit-keyframes ani_info_top {
    0% {opacity: 0;right: 230px;}
    100% {opacity: 1;right: 330px;}
}
@keyframes ani_info_top {
    0% {opacity: 0;right: 230px;}
    100% {opacity: 1;right: 330px;}
}
.hongshot .section2 .bg .centerDiv .img {position:absolute;right:230px;bottom: 150px;opacity:0;}
.hongshot .sec-2 .section2 .bg .centerDiv .img {
    animation-name: ani_img_top;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    animation-delay: 1.2s;
}
@-moz-keyframes ani_img_top {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes ani_img_top {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes ani_img_top {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.hongshot .sec-1 .section2 .bg .centerDiv .info, .hongshot .sec-3 .section2 .bg .centerDiv .info {opacity:1;right: 330px;}
.hongshot .sec-1 .section2 .bg .centerDiv .img, .hongshot .sec-3 .section2 .bg .centerDiv .img {opacity:1;}

.haart .section1 .bg .centerDiv p {padding-top: 100px;}
.haart .section2 .bg {background: url('../images/sub/haart/section2_bg.jpg') 0 0 no-repeat;-webkit-background-size: cover;background-size: cover;}
.haart .section3 .bg {background: url('../images/sub/haart/section3_bg.jpg') 0 0 no-repeat;-webkit-background-size: cover;background-size: cover;}

.haart .section3 .bg .centerDiv .title {position:relative;bottom:-100px;opacity:0;}
.haart .sec-3 .section3 .bg .centerDiv .title {
    animation-name: ani_txt_top3;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    animation-delay: 0.7s;
}
@-moz-keyframes ani_txt_top3 {
    0% {opacity: 0;bottom: -100px;}
    100% {opacity: 1;bottom: 0;}
}
@-webkit-keyframes ani_txt_top3 {
    0% {opacity: 0;bottom: -100px;}
    100% {opacity: 1;bottom: 0;}
}
@keyframes ani_txt_top3 {
    0% {opacity: 0;bottom: -100px;}
    100% {opacity: 1;bottom: 0;}
}

.hongshot .section3 .row_img:nth-child(1) img {position:relative;left:-200px;opacity:0;}
.hongshot .sec-3 .section3 .row_img:nth-child(1) img {
    animation-name: ani_row_1;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    animation-delay: 0;
}
@-moz-keyframes ani_row_1 {
    0% {opacity: 0;left: -200px;}
    100% {opacity: 1;left: 0;}
}
@-webkit-keyframes ani_row_1 {
    0% {opacity: 0;left: -200px;}
    100% {opacity: 1;left: 0;}
}
@keyframes ani_row_1 {
    0% {opacity: 0;left: -200px;}
    100% {opacity: 1;left: 0;}
}
.hongshot .section3 .row_img:nth-child(2) img {position:relative;left:-200px;opacity:0;}
.hongshot .sec-3 .section3 .row_img:nth-child(2) img {
    animation-name: ani_row_2;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    animation-delay: 0.3s;
}
@-moz-keyframes ani_row_2 {
    0% {opacity: 0;left: -200px;}
    100% {opacity: 1;left: 0;}
}
@-webkit-keyframes ani_row_2 {
    0% {opacity: 0;left: -200px;}
    100% {opacity: 1;left: 0;}
}
@keyframes ani_row_2 {
    0% {opacity: 0;left: -200px;}
    100% {opacity: 1;left: 0;}
}
.hongshot .section3 .row_img:nth-child(3) img {position:relative;left:-200px;opacity:0;}
.hongshot .sec-3 .section3 .row_img:nth-child(3) img {
    animation-name: ani_row_3;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    animation-delay: 0.6s;
}
@-moz-keyframes ani_row_3 {
    0% {opacity: 0;left: -200px;}
    100% {opacity: 1;left: 0;}
}
@-webkit-keyframes ani_row_3 {
    0% {opacity: 0;left: -200px;}
    100% {opacity: 1;left: 0;}
}
@keyframes ani_row_3 {
    0% {opacity: 0;left: -200px;}
    100% {opacity: 1;left: 0;}
}

.row > li.col_3 {position: relative;top: 60px;opacity:0;}
.row .row_img {height: 379px;}
.row .row_txt h3 {font-size: 22px;font-weight:400;}
.row .row_txt p {margin-top: 0.3em;font-size: 1em;}